@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
}

body {
  background: #ffffff;
  color: #222;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;
}
body a {
  color: #222;
  text-decoration: none;
}

.container {
  position: relative;
  max-width: 90rem;
  padding-inline: clamp(1rem, 0.345rem + 3.27vw, 2.8rem);
  margin-inline: auto;
}

.section {
  padding-block: 7.5rem;
}
.section-title {
  font-size: 48px;
  text-transform: capitalize;
}
.section-subtitle {
  font-size: 24px;
  line-height: 1.4;
  color: #4f4f4f;
  margin-top: 24px;
}

.hidden {
  display: none !important;
}

.header-container {
  display: grid;
  padding-block: 1.8rem;
  grid-template-columns: 1fr auto 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .header-nav {
    display: block;
    width: 100%;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.03), 0 4px 4px rgba(0, 0, 0, 0.03), 0 8px 8px rgba(0, 0, 0, 0.03), 0 16px 16px rgba(0, 0, 0, 0.03);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.03), 0 4px 4px rgba(0, 0, 0, 0.03), 0 8px 8px rgba(0, 0, 0, 0.03), 0 16px 16px rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
    padding-block: 104px;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.header-nav.mobile-nav {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  background-color: #ffffff;
  z-index: 3;
}
.header-nav__logo {
  padding: 0.8rem 0;
  font-size: 1.6rem;
  font-weight: 450;
  letter-spacing: -1px;
  z-index: 4;
}
.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-inline: 2rem;
}
.header-nav__list-btn {
  display: none;
}
@media (max-width: 768px) {
  .header-nav__list-btn {
    display: inline-block;
    margin-top: 12px;
  }
}
.header-nav__list.active {
  display: block;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
.header-nav__btn {
  margin-left: auto;
}
@media (max-width: 768px) {
  .header-nav__btn.btn--dark {
    display: none;
  }
}
.header-nav__btn.btn--dark.active {
  display: block;
}
.header-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1999;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.07);
  padding-top: 0;
  padding-bottom: 0;
  -webkit-animation: slideInDown 0.3s ease-in-out;
          animation: slideInDown 0.3s ease-in-out;
}
@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.hero {
  color: #fff;
  padding-top: 4.8rem;
}
.hero-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60vh;
  padding: clamp(2rem, 1.273rem + 3.64vw, 4rem);
  line-height: 1.4;
  background-image: url("../img/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
}
.hero-heading__title {
  font-size: clamp(2.625rem, 1.943rem + 3.41vw, 4.5rem);
  font-weight: 500;
  margin-bottom: 8px;
  text-wrap: balance;
}
.hero-heading__subtitle {
  font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #cccccc;
  font-size: 0.8rem;
  background: #111111;
  padding: 1.2rem 0;
  text-align: center;
}

.btn {
  display: inline-block;
  line-height: normal;
  padding: 0.8rem 1.6rem;
  border-radius: 0.6rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn:hover {
  background-color: #f5f5f5;
}
.btn--dark {
  color: #fff;
  background-color: #111111;
}
.btn--dark:hover {
  background-color: #333;
}

.burger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  background: transparent;
  cursor: pointer;
  z-index: 3;
}
@media (max-width: 768px) {
  .burger {
    display: block;
    margin-left: auto;
    grid-column: 3/4;
  }
}
.burger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #111111;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.burger span:nth-of-type(1) {
  top: 0px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}
.burger span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform-origin: left center;
          transform-origin: left center;
}
.burger span:nth-of-type(3) {
  top: 100%;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.burger.open span:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0px;
  left: 5px;
}
.burger.open span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}
.burger.open span:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 22px;
  left: 5px;
}

.back-to-top {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  background-color: #111111;
  background-color: #f5f5f5;
  height: 34px;
  width: 34px;
  z-index: 500;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 350ms;
  transition: all 350ms;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.back-to-top.reveal {
  opacity: 1;
  visibility: visible;
}/*# sourceMappingURL=main.css.map */