.header {
  &-container {
    display: grid;
    padding-block: 1.8rem;
    grid-template-columns: 1fr auto 1fr;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &-nav {
    @include small-tablet() {
      display: block;
      width: 100%;
      transform: scaleY(0);
      box-shadow: $box-shadow;
      border-bottom: $border;
      padding-block: 104px;
      position: absolute;
      top: 0;
      left: 0;
    }
    &.mobile-nav {
      transform: scaleY(1);
      transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-delay: 0.2s;
      background-color: $primary-bg-color;
      z-index: 3;
    }
    &__logo {
      padding: 0.8rem 0;
      font-size: 1.6rem;
      font-weight: 450;
      letter-spacing: -1px;
      z-index: 4;
    }
    &__list {
      display: flex;
      gap: 5px;
      justify-content: space-between;
      padding-inline: 2rem;
      &-btn {
        display: none;
        @include small-tablet() {
          display: inline-block;
          margin-top: 12px;
        }
      }

      &.active {
        display: block;
        font-size: 24px;
        font-weight: 500;
        text-align: center;
      }
    }

    &__btn {
      margin-left: auto;
      &.btn--dark {
        @include small-tablet() {
          display: none;
        }
        &.active {
          display: block;
        }
      }
    }
  }
  &-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1999;
    background-color: $primary-bg-color;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.07);
    padding-top: 0;
    padding-bottom: 0;
    animation: slideInDown 0.3s ease-in-out;
  }

  @keyframes slideInDown {
    0% {
      transform: translateY(-100%);
      visibility: visible;
    }

    100% {
      transform: translateY(0);
    }
  }
}
