.btn {
  display: inline-block;
  line-height: normal;
  padding: 0.8rem 1.6rem;
  border-radius: 0.6rem;
  transition: all 0.4s;
  &:hover {
    background-color: $secondary-bg-color;
  }
  &--dark {
    color: $text-color-white;
    background-color: $accent-color;

    &:hover {
      background-color: $button-dark-hover;
    }
  }
}
